@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
$base-font: 'Source Sans Pro';
$gold-color: #CBAD78;
$box-color: #595959;
$deep-gold: #BB9D68;

body {
  background: url("../photos/background.jpg") top 20% center;
  background-repeat: no-repeat;
  background-size:cover;
}
.l-logo-header {
  display: none;
}

.l-box {
  width: 70vw;
  height: 75vh;
  margin: 10vh auto auto auto;
}

.box {
  background: -webkit-linear-gradient(to bottom, rgba(25,25,25,0.9) , rgba(94,94,94,0.7)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(25,25,25,0.9) , rgba(94,94,94,0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1.5rem;
}

.l-top-group {
  display: block;
  width: 31vw;
  margin: auto;
}

.l-bottom-right-btn {
  float: right;
  width: 18vw;
}

.bottom-btn {
  height: 7vw;
  max-height: 5rem;
  -moz-box-shadow:  0 6px 10px #303030;
  -webkit-box-shadow: 0 6px 10px #303030;
  box-shadow: 0 6px 10px #303030;
  border-radius: 4rem;
}


.btn {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  background-color: $gold-color;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: $base-font;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.btn-group-button {
  width: 10vw;
  background: none;
  color: #CCCCCC;
}

.btn:hover, .btn:active, .btn:focus, .active {
  border: none;
  box-shadow: none;
}

.btn-group-button:hover, .btn-group-button:active, .btn-group-button:focus, .btn-group-button.active {
  border-bottom: 3px solid #CBAD78;
  background: none;
  color: white;
}

.bottom-btn:hover, .bottom-btn:active, .bottom-btn:focus, .bottom-btn.active {
  -moz-box-shadow: 0 6px 10px #303030;
  -webkit-box-shadow: 0 6px 10px #303030;
  box-shadow: 0 6px 10px #303030;
  background-color: $deep-gold;
  color: white;
}

.box-viewer {
  width: 80%;
  margin: 1rem 0 1rem 0;
}

.box-viewer > img {
  height: 25vw;
  display: block;
  margin: auto;
  max-width: 50vw;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (orientation:portrait){
  body {
    background: $gold-color;
  }

  .l-box {
    height: 60vh;
    width: 80vw;
    margin: 2vh 10vw 2vh 10vw;
  }

  .box-viewer {
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
    height: 45vh;
  }

  .box-viewer > img {
    max-width: 100%;
    height: auto;
  }
  .l-logo-header {
    margin: 5vh auto auto auto;
    width: 50%;
  }

  .box {
    padding: 0.5rem;
  }

  .l-top-group {
    width: 60%;
  }

  .l-logo-header {
    display: block;
    height: 10vh;
  }

  .btn-group-button {
    width: 30%;
  }

  .btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.25rem;
  }
}

@media (max-width: 767px) and (orientation:landscape){
  body {
    background: $gold-color;
  }

  .l-box {
    margin-top: 5vh;
  }

  .l-logo-header {
    margin: 5vh auto auto auto;
    width: 30vw;
  }

  .box {
    padding: 0.5rem;
  }
  .l-top-group {
    width: 60%;
  }

  .l-logo-header {
    display: block;
    height: 10vh;
  }

  .btn-group-button {
    width: 30%;
  }

  .box-viewer {
    margin: 0.5rem 0 0.5rem 0;
  }
  .btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.25rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.75rem;
  }

  .l-box {
    margin-top: 10vw;
  }
}

@media (max-height: 360px) and (orientation:landscape){
  .l-logo-header {
    display: none;
  }
  .l-box {
    margin-top: 5vh;
    height: 80vh;
    min-height: 280px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .btn {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    font-size: 1rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}